astroid==2.4.2
Django==2.2.21
django-cors-headers==3.5.0
django-debug-toolbar==2.2
django-filebrowser-no-grappelli==3.8.0
django-tinymce4-lite==1.8.0
djangorestframework==3.11.1
isort==5.5.2
jsmin==2.2.2
lazy-object-proxy==1.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==7.2.0
pylint==2.6.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
wrapt==1.12.1
