Django==2.2.13
django-debug-toolbar==2.2
django-filebrowser-no-grappelli==3.8.0
django-tinymce4-lite==1.8.0
djangorestframework==3.11.1
Jinja2==2.11.2
jsmin==2.2.2
MarkupSafe==1.1.1
Pillow==7.2.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
