{% if leafes %}
    <ul class="p-5 space-y-2 list-disc list-inside">
        {% for l in leafes %}
            <li class=" [&_a]:text-blue-600">
                <div class="relative inline-flex items-center font-bold">
                    {{ l.goal.name }} {{ l.goal.progress_str }}
                    <a class="inline-block ml-3" href="{% url 'goal' l.goal.pk %}">V</a>
                    <a class="inline-block ml-2"
                       href="{% url 'form' 'UpdateGoal' %}?pk={{ l.goal.pk }}&success={% url 'goals' %}">U</a>
                    <a class="inline-block ml-2"
                       href="{% url 'form' 'DeleteGoal' %}?pk={{ l.goal.pk }}&success={% url 'goals' %}">D</a>
                </div>
                {% include "goals/symbols/goals.html" with leafes=l.children %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
