{% macro modalButton(text, target) %}
	<button type="button" class="modal-button" data-toggle="modal" data-target="{{ target }}">{{ text }}</button>
{% endmacro %}

{% macro hrefButton(text, url) %}
	<a class="href-button--small" href="{{ url }}">{{ text }}</a>
{% endmacro %}

{% macro submitButton(text) %}
  	<button type="submit" class="submit-button" role="button">{{ text }}</button>
{% endmacro %}