{% macro signIn(csrf_token, errors) %}
<div class="sign-up-in">
	<div class="wrapper">
		<h1 class="sign-up-in--heading">Login</h1>
		{% if errors %}
			<div class="sign-up-in--errors">
				{% for error in errors %}
					<p class="sign-up-in--errors--error">{{ error|safe }}</p>
				{% endfor %}
			</div>
		{% endif %}
		<form action="{{ url('users:signin') }}" method="POST">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			<div class="sign-up-in--input-group">
				<label class="form-child--label" class="form-child--label">Username</label>
				<input type="text" class="form-child--input" name="username" required>
			</div>
			<div class="sign-up-in--input-group">
				<label class="form-child--label">Password</label>
				<input type="password" class="form-child--input" name="password" required>
			</div>
			<input type="submit" value="Login" class="sign-up-in--button">
		</form>
		<a type="button" href="{{ url('users:signup') }}" class="sign-up-in--switch-button" role="button">Sign up as a new user.</a>
	</div>
</div>
{% endmacro %}


{% macro signUp(csrf_token, errors) %}
<div class="sign-up-in">
	<div class="wrapper">
		<h1 class="sign-up-in--heading">Sign Up</h1>
		{% if errors %}
			<div class="sign-up-in--errors">
				{% for error in errors %}
					<p class="sign-up-in--errors--error">{{ error|safe }}</p>
				{% endfor %}
			</div>
		{% endif %}
		<form action="{{ url('users:signup') }}" method="POST">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			<div class="sign-up-in--input-group">
				<label class="form-child--label" class="form-child--label">Username</label>
				<input type="text" class="form-child--input input" name="username" required>
			</div>
			<div class="sign-up-in--input-group">
				<label class="form-child--label">Password</label>
				<input type="password" class="form-child--input" name="password1" required>
			</div>
			<div class="sign-up-in--input-group">
				<label class="form-child--label">Password</label>
				<input type="password" class="form-child--input input" name="password2" required>
			</div>
			<input type="submit" value="Sign Up" class="sign-up-in--button">
		</form>
		<a type="button" href="{{ url('users:signin') }}" class="sign-up-in--switch-button" role="button">Go to the login page.</a>
	</div>
</div>
{% endmacro %}