{% macro timespan(ts, depot, set_url, delete_url, reverse, csrf_token) %}
	<li class="timespan">
		<label class="timespan--label">{{ ts.name }}</label>
		<label class="timespan--label">{{ ts.start_date }}</label>
		{% if ts.period %}
			<label class="timespan--label">{{ ts.period }}</label>
		{% else %}
			<label class="timespan--label">{{ ts.end_date }}</label>
		{% endif %}
		<form method="POST" action="{{ set_url }}" class="timespan--set-form">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			<input type="submit" value="Set" class="timespan--set-button" {% if ts.is_active %}disabled{% endif %}>
			<input type="hidden" name="pk" value="{{ ts.pk }}">
		</form>
		<form method="POST" action="{{ delete_url }}" class="timespan--set-form">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			<input type="submit" value="Remove" class="timespan--remove-button" {% if ts.is_active %}disabled{% endif %}>
			<input type="hidden" name="reverse" value="{{ reverse }}">
			<input type="hidden" name="pk" value="{{ ts.pk }}">
		</form>
	</li>
{% endmacro %}


{% macro createTimespan(period, url, reverse, csrf_token) %}
	<form class="timespan timespan--form" method="POST" action="{{ url }}">
		<input type="text" class="timespan--input" id="nameInput" name="name" placeholder="Timespan" required>
		<input type="datetime-local" class="timespan--input" id="start_dateInput" name="start_date" required>
		{% if not period %}
			<input type="datetime-local" class="timespan--input" id="end_dateInput" name="end_date" required>
			<input type="hidden" name="period" value="" id="periodInput" required>
		{% else %}
			<input type="hidden" name="end_date" id="end_dateInput">
			<input type="number" class="timespan--input" id="periodInput" name="period" placeholder="Period in Days" required>
		{% endif %}
		<input type="hidden" name="user" value="{{ user }}">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		<input type="hidden" name="reverse_lazy" value="{{ reverse }}">
		<input type="submit" value="Add" class="timespan--add-button">
	</form>
{% endmacro %}


{% macro setActiveForm(timespan, csrf_token) %}
	<form method="post" action="{{ url('banking:set_timespan', args=[timespan.pk]) }}">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		<input type="hidden" name="is_active" id="id_is_active" value="True">
		<button type="submit" class="submit-button--small" role="button" {{ "disabled" if timespan.is_active else "" }}>Set Active</button>
	</form>
{% endmacro %}


{% macro setActiveCryptoButton(timespan, csrf_token) %}
	<form method="post" action="{{ url('crypto:set_timespan', args=[timespan.pk]) }}">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		<input type="hidden" name="is_active" id="id_is_active" value="True">
		<button type="submit" class="submit-button--small" role="button" {{ "disabled" if timespan.is_active else "" }}>Set Active</button>
	</form>
{% endmacro %}


{% macro setActiveAlternativeButton(timespan, csrf_token) %}
	<form method="post" action="{{ url('alternative:set_timespan', args=[timespan.pk]) }}">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		<input type="hidden" name="is_active" id="id_is_active" value="True">
		<button type="submit" class="submit-button--small" role="button" {{ "disabled" if timespan.is_active else "" }}>Set Active</button>
	</form>
{% endmacro %}


{% macro deleteButton(timespan, csrf_token) %}
	{%- set target="#deleteTimespan"+timespan.pk|string -%}
	<button type="button" class="modal-button" data-toggle="modal" data-target={{ target }} {{ "disabled" if timespan.is_active else "" }}>Delete</button>
{% endmacro %}
