{% extends 'users/base.html' %}
{% load static %}
{% block title %}Passwort Vergessen{% endblock %}
{% block inside %}
    <div class="flex flex-col justify-center min-h-full py-12 sm:px-6 lg:px-8">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
                <div class="sm:mx-auto sm:w-full sm:max-w-md">
                    <h1 class="block mb-6 text-3xl font-bold tracking-tight text-center text-gray-900">Passwort Vergessen</h1>
                </div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock inside %}
