{% extends 'users/password_reset_base.html' %}
{% block title %}Neues Passwort{% endblock %}
{% block content %}
    <div class="{% include 'symbols/prose.class' %}">
        {% if validlink %}
            <p>Bitte wähle ein neues Passwort.</p>
            {% include 'form.html' with submit="Neues Passwort Speichern" form=form %}
        {% else %}
            <p>Der Link ist ungültig, womöglich weil er abgelaufen ist oder bereits benutzt wurde.</p>
        {% endif %}
    </div>
{% endblock %}
