{% extends 'users/base.html' %}
{% block title %}E-Mail Confirmed{% endblock %}
{% block inside %}
    {% if validlink %}
        <p>
            Your email was confirmed. You can login now: <a class="a" href="{% url 'global_form' 'Login' %}">To the login</a>.
        </p>
    {% endif %}
    {% if not validlink %}
        <p>Your email could not be confirmed. The following errors are possible:</p>
        <ul>
            <li>Your email is already confirmed.</li>
            <li>The link is out of date.</li>
            <li>The link is not valid.</li>
        </ul>
    {% endif %}
{% endblock %}
