{% extends "layout/lhmf.j2" %}


{% set title="Dashboard | Goals" %}


{% block main %}


{% import "modules/button.j2" as bg %}
{% import "modules/form.j2" as fg %}
{% import "modules/item.j2" as ig %}
{% import "modules/card.j2" as cg %}


<div class="masonry--item">
  <div class="row m-0">
    {% for goal in master_goals %}
      <div class='col-md-3 m-0 p-0'>
        <div class="adminator-box">
          <h6 class="adminator-box--heading">{{ goal.name }}</h6>
          <div class="adminator-box--content">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash"></span>
              </div>
              <div class="peer">
                <a class="adminator-href-button pX-15 pY-15 mr-2" href="{{ url('goals:goal', args=[goal.pk]) }}">Open</a>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">{{ goal.progress }}%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% include "snippets/to_dos.j2" %}


{% include "snippets/goals.j2" %}


{% include 'snippets/strategies.j2' %}


{% include 'snippets/links.j2' %}


{% include 'snippets/progress_monitors.j2' %}


{% include 'snippets/add_to_dos.j2' %}


{% include 'snippets/add_goal.j2' %}

  
{% include 'snippets/add_link.j2' %}


{% include 'snippets/add_strategy.j2' %}


{% include 'snippets/add_progress_monitor.j2' %}


{% endblock main %}
