{% extends "layout/lhmf.j2" %}


{% set title="To Do's | Goals" %}


{% block main %}


{% import "modules/button.j2" as bg %}
{% import "modules/form.j2" as fg %}
{% import "modules/item.j2" as ig %}
{% import "modules/card.j2" as cg %}


<div class="pulldown" id="pulldown">
	Reload
</div>


{% if to_dos %}
<div class="masonry--item">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Normal To Do's</h6>
		<div class="adminator-box--content">
			<ul class="to-do-list">
				{% for to_do in to_dos %}
					{{ ig.to_do(to_do, "", csrf_token) }}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}


{% if repetitive_to_dos %}
<div class="masonry--item">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Repetitive To Do's</h6>
		<div class="adminator-box--content">
			<ul class="to-do-list">
				{% for to_do in repetitive_to_dos %}
				{{ ig.to_do(to_do, "repetitive_", csrf_token) }}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}


{% if never_ending_to_dos %}
<div class="masonry--item">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Never Ending To Do's</h6>
		<div class="adminator-box--content">
			<ul class="to-do-list">
				{% for to_do in never_ending_to_dos %}
				{{ ig.to_do(to_do, "never_ending_", csrf_token) }}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}


{% if multiple_to_dos %}
<div class="masonry--item">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Multiple To Do's</h6>
		<div class="adminator-box--content">
			<ul class="to-do-list">
				{% for to_do in multiple_to_dos %}
				{{ ig.to_do(to_do, "multiple_", csrf_token) }}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}


{% if pipeline_to_dos %}
<div class="masonry--item">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Pipeline To Do's</h6>
		<div class="adminator-box--content">
			<ul class="to-do-list">
				{% for to_do in pipeline_to_dos %}
				{{ ig.to_do(to_do, "pipeline_", csrf_token) }}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}


<div class="masonry--item">
	<div class="adminator-box">
		<div class="adminator-box--heading">
			<a class="adminator-box--toggle" id="to-dos-choices-toggle" href="#to-dos-choices-target" data-toggle="collapse">Settings</a>
		</div>
		<div class="adminator-box--content collapse" id="to-dos-choices-target">
			{{ fg.onClickAjaxForm("to-dos-choices", url("users:user_to_dos_choices", args=[user.pk])) }}
		</div>
	</div>
</div>


{% endblock main %}
