{% extends "layout/lhmf.j2" %}


{% set title=to_do.name + " | To Do | Goals" %}


{% block main %}


{% import "modules/button.j2" as bg %}
{% import "modules/form.j2" as fg %}
{% import "modules/item.j2" as ig %}
{% import "modules/card.j2" as cg %}


<div class="masonry--item masonry--item-4">
	<div class="row m-0">

		<div class='col-md-6 p-0'>
			<div class="adminator-box">
				<div class="adminator-box--top">
					<h6 class="adminator-box--heading">{{ to_do.name }}</h6>
					{% if to_do.is_done or to_do.has_failed %}
						<button class="adminator-update-button" id="to-do-reset">Reset</button>
					{% else %}
						<button class="adminator-update-button" id="to-do-done">Done</button>
						<button class="adminator-update-button" id="to-do-failed">Failed</button>
					{% endif %}
				</div>
				<div class="adminator-box--content">
					{% with time=to_do.get_to_deadline_time() %}
						<span class="to-do-item--badge-label--{{ time[0] }}">{{ time[1] }}</span>
					{% endwith %}
				</div>
				<div class="adminator-box--script">
					<script type="text/javascript">
						jQuery(function(){
							$("#to-do-done").on("click", function(event){
								$.ajax({
									url : "{{ url('goals:'+to_do_prefix+'to_do_done', args=[to_do.pk]) }}",
									type : "POST",
									data : "csrfmiddlewaretoken={{ csrf_token }}&is_done=True",
									success : function(data) {
										window.location.reload()
									},
									error : function(data) {
										$("#to-do-done").html("Ajax Error");
									}
								})
							})
							$("#to-do-failed").on("click", function(event){
								$.ajax({
									url : "{{ url('goals:'+to_do_prefix+'to_do_failed', args=[to_do.pk]) }}",
									type : "POST",
									data : "csrfmiddlewaretoken={{ csrf_token }}&has_failed=True",
									success : function(data) {
										window.location.reload()
									},
									error : function(data) {
										$("#to-do-failed").html("Ajax Error");
									}
								})
							})
							$("#to-do-reset").on("click", function(event){
								$.ajax({
									url : "{{ url('goals:'+to_do_prefix+'to_do_failed', args=[to_do.pk]) }}",
									type : "POST",
									data : "csrfmiddlewaretoken={{ csrf_token }}&has_failed=False",
									success : function(data) {
										$.ajax({
											url : "{{ url('goals:'+to_do_prefix+'to_do_done', args=[to_do.pk]) }}",
											type : "POST",
											data : "csrfmiddlewaretoken={{ csrf_token }}&is_done=False",
											success : function(data) {
												window.location.reload()
											},
											error : function(data) {
												$("#to-do-reset").html("Ajax Error");
											}
										});
									},
									error : function(data) {
										$("#to-do-reset").html("Ajax Error");
									}
								});
							});
						});
					</script>
				</div>
			</div>
		</div>
		<div class='col-md-6 p-0'>
			<div class="adminator-box">
				<h6 class="adminator-box--heading">Properties</h6>
				<div class="adminator-box--content">
					<p class="adminator-box--p">
						{% if to_do.activate %}
							Activate: {{ to_do.get_activate() }}
						{% endif %}
						{% if to_do.deadline %}
							<br>Deadline: {{ to_do.get_deadline() }}
						{% endif %}
						{% if to_do.__class__.__name__ == 'RepetitiveToDo' or to_do.__class__.__name__ == 'NeverEndingToDo' %}
							<br>Duration: {{ to_do.get_duration() }}
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		{% if to_do.__class__.__name__ == 'RepetitiveToDo' %}
			<div class='col-md-6 p-0'>
				<div class="adminator-box">
					<h6 class="adminator-box--heading">Siblings</h6>
					<div class="adminator-box--content">
						<p class="adminator-box--middle-p">
							{% with prev = to_do.get_previous() %}
								Previous: {{ prev }} <a class="adminator-href-button" href="{{ url('goals:repetitive_to_do', args=[prev.pk]) }}">Open</a>
							{% endwith %}
						</p>
						<p class="adminator-box--p">
							{% with next = to_do.get_next() %}
								Next: {{ next }} <a class="adminator-href-button" href="{{ url('goals:repetitive_to_do', args=[next.pk]) }}">Open</a>
							{% endwith %}
						</p>
					</div>
				</div>
			</div>
			<div class='col-md-6 p-0'>
				<div class="adminator-box">
					<h6 class="adminator-box--heading">Notes</h6>
					<div class="adminator-box--content">
						<p class="adminator-box--p">{{ to_do.get_notes() }}</p>
					</div>
				</div>
			</div>
		{% else %}
			<div class='col-md-12 p-0'>
				<div class="adminator-box">
					<h6 class="adminator-box--heading">Notes</h6>
					<div class="adminator-box--content">
						<p class="adminator-box--p">{{ to_do.get_notes() }}</p>
					</div>
				</div>
			</div>
		{% endif %}
		
	</div>
</div>


<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Strategy Goal</h6>
		<div class="adminator-box--content">
			{{ ig.goal(goal, csrf_token) }} 
		</div>
	</div>
</div>


<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Strategy</h6>
		<div class="adminator-box--content">
			{{ ig.strategy(strategy, csrf_token) }}
		</div>
	</div>
</div>


<div class="masonry--item masonry--item-4">
    <div class="adminator-box">
        <div class="adminator-box--heading">
          <a class="adminator-box--toggle" id="edit-notes-toggle" href="#edit-notes-target" data-toggle="collapse">Edit Notes</a>
        </div>
        <div class="adminator-box--content collapse" id="edit-notes-target">
          {{ fg.onClickForm("edit-notes", url("goals:to_do_notes", args=[to_do.pk])) }}
        </div>
    </div>
</div>


<div class="masonry--item masonry--item-4">
    <div class="adminator-box">
        <div class="adminator-box--heading">
          <a class="adminator-box--toggle" id="edit-to-do-toggle" href="#edit-to-do-target" data-toggle="collapse">Edit</a>
        </div>
        <div class="adminator-box--content collapse" id="edit-to-do-target">
          {{ fg.onClickAjaxForm("edit-to-do", url("goals:"+to_do_prefix+"to_do_edit", args=[to_do.pk])) }}
        </div>
    </div>
</div>


<div class="masonry--item masonry--item-4">
    <div class="adminator-box">
        <div class="adminator-box--heading">
          <a class="adminator-box--toggle" id="delete-to-do-toggle" href="#delete-to-do-target" data-toggle="collapse">Delete</a>
        </div>
        <div class="adminator-box--content collapse" id="delete-to-do-target">
          {{ fg.onClickForm("delete-to-do", url("goals:"+to_do_prefix+"to_do_delete", args=[to_do.pk])) }}
        </div>
    </div>
</div>


{% if to_do.__class__.__name__ == 'RepetitiveToDo' %}
	<div class="masonry--item masonry--item-4">
	    <div class="adminator-box">
	        <div class="adminator-box--heading">
	          <a class="adminator-box--toggle" id="delete-to-do-list-toggle" href="#delete-to-do-list-target" data-toggle="collapse">Delete All</a>
	        </div>
	        <div class="adminator-box--content collapse" id="delete-to-do-list-target">
	          {{ fg.onClickForm("delete-to-do-list", url("goals:repetitive_to_do_list_delete", args=[to_do.pk])) }}
	        </div>
	    </div>
	</div>
{% endif %}


{% endblock main %}		