{% extends "layout/lhmf.j2" %}


{% set title="Tree View | Goals" %}


{% block special %}
<style type="text/css">

</style>
{% endblock %}


{% block main %}


{% import "modules/button.j2" as bg %}
{% import "modules/form.j2" as fg %}
{% import "modules/item.j2" as ig %}
{% import "modules/card.j2" as cg %}


<div class="masonry--item masonry--item-5">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Tree</h6>
		<div class="adminator-box--content">
			<div class="tree">
				<ul class="tree--ul">
					{% for goal in master_goals %}
						{{ goal.get_tree_html()|safe }}
					{% endfor %}
				</ul>
				<div class="tree--script">
					<script type="text/javascript">
						$(".tree--caret--name").on("click", function(){
							$(this).parent().siblings().toggleClass("tree--nested")
							if ($(this).parent().siblings().length > 0) { 
								$(this).toggleClass("tree--caret--name--active")
							}
							$(".masonry").masonry()
						})
					</script>
				</div>
			</div>
		</div>
	</div>
</div>


{#
<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Example Tree</h6>
		<div class="adminator-box--content">
			<div class="tree">
				<ul class="tree--ul">
					<li class="tree--li">
						<div class="tree--caret">
							<span class="tree--caret--name"><span class="tree--caret--arrow">&#8611;</span> 1 sdfjlsad</span>
							<a class="adminator-href-button" href="#">Open</a>
							<span class="blue-badge">99 %</span>
						</div>
						<ul class="tree--nested">
							<li class="tree--li">
								<div class="tree--caret">
									<span class="tree--caret--name"><span class="tree--caret--arrow">&#8611;</span> 11 sdfjlsad</span>
									<a class="adminator-href-button" href="#">Open</a>
									<span class="blue-badge">80 %</span>
								</div>
								<ul class="tree--nested">
									<li class="tree--li">
										<div class="tree--caret">
											<span class="tree--caret--name"><span class="tree--caret--arrow">&#8623;</span> 111 sdfjlsad</span>
											<a class="adminator-href-button" href="#">Open</a>
											<span class="blue-badge">77 %</span>
										</div>
									</li>
								</ul>
							</li>
							<li class="tree--li">
								<div class="tree--caret">
									<span class="tree--caret--name"><span class="tree--caret--arrow">&#8613;</span> 12 sdfjlsad</span> 
									<a class="adminator-href-button" href="#">Open</a>
									<span class="blue-badge">13 %</span>
								</div>
							</li>
							<li class="tree--li">
								<span class="tree--caret">
									<span class="tree--caret--name"><span class="tree--caret--arrow">&#8618;</span> 13 sdfjlsad</span> 
									<a class="adminator-href-button" href="#">Open</a>
									<span class="blue-badge">95 %</span>
								</span>
								<ul class="tree--nested">
									<li class="tree--li">
										<span class="tree--caret">
											<span class="tree--caret--name"><span class="tree--caret--arrow">&#8623;</span> 131 sdfjlsad</span> 
											<a class="adminator-href-button" href="#">Open</a>
										</span>
									</li>
									<li class="tree--li">
										<span class="tree--caret">
											<span class="tree--caret--name"><span class="tree--caret--arrow">&#8623;</span> 132 sdfjlsad</span> 
											<a class="adminator-href-button" href="#">Open</a>
										</span>
									</li>
								</ul>
							</li>
							<li class="tree--li">
								<span class="tree--caret">
									<span class="tree--caret--name"><span class="tree--caret--arrow">&#8618;</span> 13 sdfjlsad</span>
									<a class="adminator-href-button" href="#">Open</a>
								</span>
							</li>
						</ul>
					</li>
				</ul>
				<div class="tree--script">
					<script type="text/javascript">
						$(".tree--caret--name").on("click", function(){
							$(this).parent().siblings().toggleClass("tree--nested")
							if ($(this).parent().siblings().length > 0) { 
								$(this).toggleClass("tree--caret--name--active")
							}
							$(".masonry").masonry()
						})
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
#}


<div class="masonry--item masonry--item-3">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Tree Legend</h6>
		<div class="adminator-box--content">
			<div class="tree">
				<ul class="tree--ul">
					<li class="tree--li">
						<span class="tree--caret"><span class="tree--caret-name"><span class="tree--caret--arrow">&#8611;</span> Goal</span></span>
					</li>
					<li class="tree--li">
						<span class="tree--caret"><span class="tree--caret-name"><span class="tree--caret--arrow">&#8613;</span> Monitor</span></span>
					</li>
					<li class="tree--li">
						<span class="tree--caret"><span class="tree--caret-name"><span class="tree--caret--arrow">&#8618;</span> Strategy</span></span>
					</li>
					<li class="tree--li">
						<span class="tree--caret"><span class="tree--caret-name"><span class="tree--caret--arrow">&#8623;</span> To Do</span></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


{% endblock %}