{% extends "layout/lhmf.j2" %}


{% set title="All Goals View | Goals" %}


{% block main %}


{% import "modules/button.j2" as bg %}
{% import "modules/form.j2" as fg %}
{% import "modules/item.j2" as ig %}
{% import "modules/card.j2" as cg %}


{% include "snippets/goals.j2" %}


{% endblock %}
