$secondary-color: #1997C6;


$light-primary-color: #505668;
$primary-color: #252830;
$dark-primary-color: #1D2026;


$font-color: white;
$opposite-font-color: black;


$hr-color: rgba(255, 255, 255, 0.5);


$yellow-color: #ffda79;
$dark-yellow-color: #d09d17;
