.menu{
	padding: 15px;
	&--heading{
		margin-bottom: 40px;
		color: black;
	}
	&--items{
		display: flex;
		flex-direction: column;
	}
	&--link{
		padding-bottom: 5px;
		color: black;
	}
	&--link:hover{
		text-decoration: none;
		color: $primary-color;
	}
	&--icon{
		@extend .mr-3;
	}
	&--icon-image{
		width: 32px;
		height: 32px;
	}
}

.row-menu{
	display: flex;
	flex-direction: row;
	@extend .container;
	&--brand{
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: "Permanent Marker";
		margin-right: auto;
	}
	&--link{
		color: white;
		padding: 10px 0 10px 20px;
		margin: 0;
	}
	&--link:hover{
		text-decoration: none;
		color: $dark-yellow-color;
	}
}