.sign-up-in{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&--heading{
		@extend .h3;
		@extend .mb-3;
	}
	&--errors{
		@extend .bg-danger;
		@extend .rounded;
		@extend .pl-2;
		@extend .pt-1;
		@extend .pr-2;
		@extend .pb-1;
		@extend .mb-2;
		&--error{
			@extend .mb-1;
		}
	}
	&--input-group{
		@extend .form-group;
		@extend .mb-2;
		&--input{
			@extend .form-control;
			@extend .mb-2;
		}
	}
	&--button{
		@extend .btn;
		@extend .btn-primary;
		@extend .w-100; 
	}
	&--switch-button{
		@extend .href-button;
		@extend .w-100;
		@extend .mt-4; 
	}
}
