.form-child{
	@extend .form-group;
	&--label{

	} 
	&--input{
		@extend .form-control;
	}
	&--select{
		@extend .form-control;
		@extend .custom-select;
		display: block;
	}
	&--textarea{
		@extend .form-control;
	}
	&--group{
		@extend .input-group;
	}
	&--submit-button{
		@extend .submit-button;
		padding-bottom: .5rem;
	}
	&--helptext{
		@extend .form-text;
		@extend .text-muted;
	}
	&--errors{
		@extend .invalid-feedback;
		white-space: normal;
		display: block;
		font-size: 1rem;
	}
	&--cancel-button{
		padding-bottom: .5rem;
	}
} 