.big-lm-heading{
	&--top{
		margin: 0;
		word-wrap: break-word;
	}
	&--heading{
		word-wrap: break-word;
	}
	&--hr{
		width: 100%;
		border-top: 1px solid $hr-color;
		margin-bottom: 0;
	}
	&--subrow{
		@extend .mt-2;
		margin-bottom: 0;
		display: flex;
		flex-direction: row-reverse;
	}
}

.small-lm-heading{
	@extend .d-flex;
	@extend .flex-column;
	overflow-x: auto;
	&--row{
		@extend .d-flex;
		@extend .flex-row;
		align-items: center;
	}
	&--heading{
		@extend .mr-auto;
	}
	&--button{
		@extend .btn-sm;
	}
	&--hr{
		width: 100%;
		border-top: 1px solid $hr-color;
		margin-top: 0;
		margin-bottom: 0;
	}
	&--spacer{
		padding-left: .125rem;
		padding-right: .125rem;
	}
}


.index-heading{
	display: flex;
	flex-direction: column;
	align-items: left;
	max-width: 600px;
	padding: 5%;
	// padding-left: 10%;
	padding-top: 100px;
	color: $primary-color;
	&--heading{
		@extend .font-weight-bold;
		text-align: left;
		font-size: 60px;
		margin: 0;
		padding: 0;
		// @include media-max-width(sm) { 
		// 	font-size: 40px;
		// } 
	}
	&--subheading{
		@extend .h3;
		text-align: left;
		padding: 0;
		margin: 0;
		// @include media-min-width(sm) {
		// 	margin-bottom: 2vh; 
		// }
		// @include media-max-width(sm) { 
		// 	font-size: 24px;
		// }
	}
	&--hr{
		width: 15%;
		margin-left: 0;
		margin-top: 10px;
		padding-bottom: 20px;
		border-top: 5px solid $primary-color;
	}
	&--button{
		@extend .btn;
		@extend .btn-outline-primary;
	}
} 


.center-heading{
	margin-left: 0;
	margin: 0 auto 0 auto;
	// background-color: $dark-yellow-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	&--box{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 20px;
	}
	&--image{
		height: 30px;
		width: 30px;
		max-width: 100%;
		margin-right: 10px;
	}
	&--frontheading{
		font-family: "Permanent Marker"!important;
		// font-size: 3rem;
		@extend .h2;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	&--hr{
		margin: 15px auto 30px 0;
		width: 100%;
		border-top: 2px solid white;
		border-bottom: 2px solid white;
		border-radius: 2px;
	}
	&--heading{
		text-align: center;
		font-family: "Permanent Marker";
		@extend .h1;
		font-size: 3rem;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	&--buttons{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 40px;
	}
	&--button-one{
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-outline-primary;
		margin-right: 10px;
	}
	&--button-two{
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-outline-success;
		margin-left: 10px;
	}
}


.column-heading{
	margin-bottom: 30px;
	display: flex;
    flex-direction: column;
    align-items: center;
	&--heading{
		background-image:linear-gradient(135deg, $dark-yellow-color, $yellow-color);
		-webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    background-clip: text;
	    text-fill-color: transparent;
	    width: fit-content;
	    font-weight: 300;
   		font-size: 42px;
   		text-align: center;
   		margin-bottom: 0;
	}
	&--subtext{
		width: 600px;
		max-width: 80%;
		text-align: center;
	}
}