.small-progress{
	display: flex;
	flex-direction: column;
	padding-top: .5rem;
	&--number{
		margin-left: auto;
		@extend .c-grey-600; 
		@extend .fsz-sm;
	}
	&--bar-wrapper{
		@extend .progress; 
		margin: 0;
	}
	&--bar{
		@extend .progress-bar; 
		@extend .bgc-light-blue-500;
	}
}