.table{
	margin-bottom: 0;
	&--head, &--body{
		&--data:first-child{
			width: 99%;
		}
		&--data:not(:first-child){
			white-space: nowrap;
		}
	}
	&--buttons{
		display: flex;
		flex-direction: row;
	}
}
