.timespans{
	@extend .list-group;
}
.timespan{
	background-color: $light-primary-color;
	@extend .list-group-item;
	@extend .form-group;
	@extend .d-flex; 
	&--form{
		@extend .d-flex;
	}
	&--label{
		display: block;
	    text-align: center;
	    line-height: 150%;
	    margin: 0;
	    @extend .form-control;
	}
	&--input{
		@extend .form-control;
	}
	&--button{
		@extend .form-control;
		@extend .btn;
		@extend .btn-primary;
		border-color: rgba(0,0,0,0);
	}
	&--add-button, &--add-button:focus{
		@extend .form-control;
		@extend .btn;
		@extend .btn-primary;
		@extend .ml-1;
	}
	&--set-button, &--set-button:focus{
		@extend .btn;
		@extend .btn-info;
		height: 100%;
	}
	&--remove-button, &--remove-button:focus{
		@extend .btn;
		@extend .btn-danger;
		height: 100%;
	}
	&--set-form, &--remove-form{
		@extend .ml-1;
	}
} 