<!doctype html>
<html class="{{ html }}--html">
<head>
    <!-- title -->
    <title>{{ title }} | Mastergoal</title>
    <!-- icon -->
    <link rel="icon" href="{{ static('img/logo.png') }}">
    <link rel="apple-touch-icon" href="{{ static('img/apple-logo.png') }}">
    <!-- ogs -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mastergoal.xyz/">
    <meta property="og:logo" content="https://mastergoal.xyz/static/img/logo.svg">
    <meta property="og:title" content="{{ title }} | Mastergoal">
    <meta property="og:image" content="https://mastergoal.xyz/static/img/owl.png">
    <meta property="og:description" content="Aim at the sun, and you may not reach it; but your arrow will fly far higher than if aimed at an object on a level with yourself. Set goals and get the good life.">
    <!-- charset -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- resizing -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- description -->
    <meta name="description" content="Aim at the sun, and you may not reach it; but your arrow will fly far higher than if aimed at an object on a level with yourself. Set goals and get the good life.">
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
    <script type="text/javascript" src="{{ static('js/global.js') }}"></script>
    <!-- other -->
    {% block head %}

    {% endblock head %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126772228-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-126772228-3');
    </script>
</head>
{% block body %}
    
{% endblock body %}
<script type="text/javascript" src="{{ static('js/body.js') }}"></script>
</html>
