{% extends "layout/base.njk" %}


{% set html="m" %}


{% block special %}
	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
{% endblock %}


{% block body %}
    <body class="m">
        <main class="m--main"> 
            {% block main %}
            	
            {% endblock %}
        </main>
    </body>
{% endblock body %}