<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<div class="adminator-box--heading">
			<a class="adminator-box--toggle" id="add-link-toggle" href="#add-link-target" data-toggle="collapse">Add Link</a>
		</div>
		<div class="adminator-box--content collapse" id="add-link-target">
			{{ fg.onClickAjaxForm("add-link", url("goals:link_add")) }}
		</div>
	</div>
</div>