{% import "modules/form.j2" as fg %}


{# tinymce #}
{% if form.media %}
	{{ form.media }} 
{% endif %}
{# end tinymce #}


{# form #}


<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% for hidden_field in form.hidden_fields() %}
	{{ hidden_field }}
{% endfor %}


{% with errors=form.non_field_errors() %}
	{% if errors %}
		<p>
			{% for error in errors %}
				<span class="form-child--errors">
					{{ error }}
				</span>
			{% endfor %}
		</p>
	{% endif %}
{% endwith %}


<hr>
{% for fieldset in form.fieldsets %}
	<p>
		{% if fieldset[0] %}
			<span class="h6" id="calo">{{ fieldset[0] }}</span>
		{% endif %}
		{% if 'collapse' in fieldset[1].classes %}
			<a class="form--toggle-button reset-layout-on-click" data-toggle="collapse" href="#{{ fieldset[0]|replace(' ', '') }}">Toggle</a>
		{% endif %}
	</p>
	<div class="{{ fieldset[1].classes|join(' ') }}" id="{{ fieldset[0]|replace(' ', '') }}">
		{% for field_name in fieldset[1].fields %}
			{% with field=form.__getitem__(field_name) %}
				<p>
					{{ field.label }}
					{{ field }}
					<span class="form-child--errors">
						{{ field.errors|striptags|replace(".", ". ")|replace(".  ", ". ") }}
					</span>
					<span class="form-child--helptext">
						{{ field.help_text|striptags|replace(".", ". ")|replace(".  ", ". ") }}
					</span>
				</p>
			{% endwith %}
		{% endfor %}
	</div>
<hr>
{% endfor %}


{# end form #}
