{% if strategies %}
<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Strategies</h6>
		<div class="adminator-box--content">
			{% for strategy in strategies %}
				{{ ig.strategy(strategy, csrf_token) }}
				{% if not loop.last %}
					<div class="vs-1"></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}