.lm-box{
	@extend .pt-3;
	@extend .pb-5;
}

.center-box{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.items-box{
	display: flex;
	flex-wrap: wrap;
	margin: -.25rem;
	& > div{ 
		margin: .25rem;
		flex-grow: 1;
	}
}

.scrollbar-box{
	overflow-x: auto;
}

.row-box{
	display: flex;
	flex-direction: row;
}

.column-box{
	display: flex;
	flex-direction: column;
}

.container-box{
	@extend .container;
}

.adminator-box{
	.adminator-update-button, .adminator-href-button{
		margin-left: 2px;
	}

	@extend .bd;
	@extend .bgc-white;
	@extend .p-20;
	height: 100%;
	&--top{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&--heading{
		@extend .lh-1; 
		margin-right: auto;
		margin-bottom: 0;
		word-break: break-word;
	}
	&--content{
		margin-top: .5rem;
	}
	&--content:empty{
		margin-top: 0;
	}
	&--p{
		margin: 0;
	}
	&--middle-p{
		margin-bottom: .3rem;
	}
}

.small-adminator-box{
	.blue-badge{
		@extend .mr-1;
	}

	@extend .bd;
	@extend .bgc-white;
	@extend .p-10;
	height: 100%;
}