// standard bootstrap
.submit-button{
	@extend .btn;
	@extend .btn-dark;
	@extend .w-100;
	&--small{
		@extend .btn-sm;
		@extend .submit-button;
	}
}
.submit-button:hover{
	border-color: #23272b;
}
 
.cancel-button{
	@extend .btn;
	@extend .btn-secondary;
	@extend .w-100;
	cursor: pointer;
}

.modal-button{
	@extend .btn;
	@extend .btn-info;
	@extend .btn-sm;
	cursor: pointer;
}

.href-button{
	@extend .btn;
	@extend .btn-warning;
	background-color: #ff8716;
	border-color: #ff8716;
	cursor: pointer; 
	&--small{
		@extend .href-button;
		@extend .btn-sm;
	}
}
.href-button:hover{
	background-color: #C76911;
	border-color: #C76911;
}


// adminator
.adminator-submit-button{
	@extend .badge;
	@extend .badge-pill;
	// @extend .fl-r;
	// @extend .lh-0;
	@extend .p-10;
	// @extend .ml-1;
	@extend .badge-dark;
	display: block!important;
	border: none;
	line-height: normal;
	font-size: 100%;
}
.adminator-submit-button{
	cursor: pointer;
	opacity: .8;
}

.adminator-href-button{
	@extend .badge;
	@extend .badge-pill;
	// @extend .fl-r;
	@extend .lh-0;
	@extend .p-10;
	// @extend .ml-1;
	@extend .badge-warning;
	display: inline-block!important; 
	border: none;
}
.adminator-href-button:hover{
	cursor: pointer;
	opacity: .8;
}

.adminator-update-button{
	@extend .badge;
	@extend .badge-pill;
	@extend .fl-r;
	@extend .lh-0;
	@extend .p-10;
	// @extend .ml-1;
	@extend .badge-info;
	display: block!important;
	border: none;
}
.adminator-update-button:hover{
	cursor: pointer;
	opacity: .8;
}