.card{
	margin-top: .75rem;
	margin-bottom: 0;
	color: $opposite-font-color;
	&--img{
		min-width: 100%;
	}
	&--placeholder{
		border: 0;
		visibility: hidden;
	}
	&--heading{
		@extend .card-header;
		@extend .h5;
		@extend .m-0;
	}
	&--small-heading{
		@extend .card--heading;
		font-size: 1.25rem;
	}
	&--body{
		@extend .card-body;
	}
}

.color-card{
	border-radius: 5px;
	overflow: hidden;
	&--header{
		background-color: blue;
		background-image: url("../../static/img/example-banking-bar.png");
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 150px;
	}
	&--title{
		color: white;
	}
	&--text{
		background-color: $light-primary-color;
		margin: 0;
		padding: 15px;
	}
}

.sliding-card{
	position: relative;
	// transition: all 1000ms linear 0s;
	&--image{
		max-width: 100%;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		@include media-min-width(lg){
			position: relative;
			z-index: 2;
			transition: all 600ms linear 0s;
			border-radius: 5px;
		}
	}
	&--left-image{
		@extend .sliding-card--image;
	}
	&--right-image{
		@extend .sliding-card--image;
	}
	&--details{
		background-color: $primary-color;
		color: white;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    padding: 20px;
		@include media-min-width(lg){
			position: absolute;
			height: 100%;
		    top: 0;
		    left: 0;
		    width: 385px;
		    padding: 45px 60px;
		    box-shadow: 9.5px 16.454px 73px 0px rgba(0,0,0,0.75);
		    transition: all 400ms linear 0s;
		    border-top-left-radius: 5px;
		    border-top-right-radius: 5px;
		    border-bottom-left-radius: 5px;
		    border-bottom-right-radius: 5px;
		    z-index: 1;
		    opacity: 0;
		}
	}
	&--left-details{
		@extend .sliding-card--details;
	}
	&--right-details{
		@extend .sliding-card--details;
	}
}
.sliding-card:hover{
	@include media-min-width(lg){
		z-index: 3;
		.sliding-card--left-image{
			border-bottom-right-radius: 0;
		    border-top-right-radius: 0;
		}
		.sliding-card--right-image{
			border-bottom-left-radius: 0;
		    border-top-left-radius: 0;
		}
		.sliding-card--left-details{
	    	transform: translateX(-99%);
	    	opacity: 1;
	    }
		.sliding-card--right-details{
			transition-duration: 400ms;
	    	left: 99%;
	    	opacity: 1;
	    }
	}
}