.column{
	display: flex;
	flex-direction: row;
	@include media-max-width(sm){
		flex-direction: column;
	}
	&--right, &--left{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include media-max-width(sm){
			width: 100%;
		}
	}
	&--heading{
		margin: 0;
	}
	&--button{
		width: 100%; 
	}
	&--spacer{
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
	&--right-image{
		@extend .column--right;
		padding-left: 70px;
		@include media-max-width(sm){
			padding-left: 0;
		}
	}
	&--left-image{
		@extend .column--left;
		padding-right: 70px;
		@include media-max-width(sm){
			padding-right: 0;
		}
	}
}