.footer{
	&--background{
		background-image: linear-gradient(to right, $yellow-color, $dark-yellow-color);
		opacity: .9;
	}
	width: 100%;
	display: block;
	position: relative;
	&--navigation{
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}	
	&--row{
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: #14161b;
	}
	@include media-max-width(lg){
		.hs-20{
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}
	@include media-max-width(md){
		.hs-20{
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
	@include media-max-width(sm){
		.hs-20{
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
	@include media-max-width(xs){
		.footer--navigation{
			padding-left: 15px;
			padding-right: 15px;
			flex-direction: column;
		}
	}
}
.footer::after {
	content: "";
	background: url("../../static/img/footer-background.jpg");
	background-size: cover;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}