.django-form{
	p{
		@extend .form-child;
		label{
			// @extend .form-child--label;
		} 
		input{
			@extend .form-child--input;
		}
		select{
			@extend .form-child--select;
		}
		textarea{
			@extend .form-child--textarea;
		}
		.helptext{
			@extend .form-child--helptext;
		}
	}
	&--submit-button{
		@extend .submit-button;
	}
	&--cancel-button{
		@extend .cancel-button; 
	}
}

.inline-form{
	@extend .form-child;
	&--line{
		display: flex;
		flex-direction: row;
	}
	&--label{
		// @extend .form-child--label;
	} 
	&--input{
		width: auto!important;
		flex-grow: 3;
		@extend .form-child--input;
	}
	&--select{
		@extend .form-child--select;
	}
	&--textarea{
		@extend .form-child--textarea;
	}
	&--helptext{
		@extend .form-child--helptext;
	}
	&--submit-button{
		width: auto!important;
		flex-grow: 1;
		margin-left: 10px;
		@extend .submit-button;
	}
	&--cancel-button{
		@extend .cancel-button; 
	}
}

.adminator-form{
	p{
		@extend .form-group;
		label{
		} 
		input{
			@extend .form-control;
		}
		select{
			@extend .form-control;
		}
		textarea{
			@extend .form-control;
		}
		.helptext{
			@extend .form-control;
		}
	}
	&--submit-button{
		@extend .adminator-submit-button;
	}
	&--script{
		display: none;
	}
	&--row{
		display: flex;
		flex-direction: row; 
		@extend .row;
		margin: 0;
	}
	&--insert{
		padding: 0;
		@extend .col-md-10;
		@extend .d-flex;
		@extend .flex-column;
		@extend .flex-md-row;
	}
	&--row-submit{
		@extend .col-md-2;
		height: auto!important;
	}
	&--row-submit-button{
		@extend .adminator-submit-button;
		width: 100%;
	}
}