.navigation{
	@extend .navbar;
	@extend .fixed-top;
	@extend .navbar-expand-lg;
	@extend .navbar-dark;
	background-color: rgba(37, 40, 48, .94);
	padding-left: 10px; 
	padding-right: 10px;
	@include media-breakpoint-down(md) { 
		margin-left: auto;
		margin-right: auto;
		max-width: 720px;
	}
	@include media-breakpoint-down(sm) { 
		max-width: 540px;
	}
	@include media-breakpoint-up(lg) { 
		padding: 0;
		position: initial;
	}
	&--brand{
		@extend .navbar-brand;
		@include media-breakpoint-up(lg) { 
			display: none;
		}
	}
	&--toggler{
		margin-left: auto;
		@extend .navbar-toggler;
		&--icon{
			@extend .navbar-toggler-icon;
		}
		@include media-breakpoint-up(lg) { 
			display: none;
		}
	}
	&--collapse{
		@extend .navbar-collapse;
		background-color: $primary-color;
		@include media-breakpoint-down(md) { 
			padding-top: 10px;
		}
		@include media-breakpoint-up(lg) { 
			flex-direction: column;
    		align-items: flex-start;
		}
	}
	&--nav{
		@extend .navbar-nav;
		@extend .flex-column;
		@include media-breakpoint-up(lg) { 
			position: fixed;
			max-width: 230px;
			width: 100%;
		}
	}
	&--item{
		@extend .nav-item;
		border-radius: 0.25rem;
		border: 0;
		overflow: hidden;
	}
	&--link{
		@extend .nav-link;
		padding: .5rem 1rem!important;
		color: white!important;
		&--is-active{
			background-color: $blue;
		}
	}
	&--heading{
		margin: 0;
		padding: 0 1rem .5rem 0!important;
		@extend .font-weight-bold;
	}
}


.h-navigation{
	@extend .navbar;
	// @extend .fixed-top;
	@extend .navbar-expand-md;
	@extend .navbar-light;
	@extend .container;
	&--brand{
		@extend .navbar-brand;
		color: $primary-color!important;
		font-family: "Permanent Marker";
	}
	&--toggler{
		margin-left: auto;
		@extend .navbar-toggler;
		&--icon{
			@extend .navbar-toggler-icon;
		}
	}
	&--collapse{
		@extend .navbar-collapse;
	}
	&--nav{
		@extend .navbar-nav;
		margin-left: auto;
	}
	&--button{
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-outline-success;
	}
	&--item{
		@extend .nav-item;
		display: flex;
		align-items: center;
		padding-left: 1rem;
	}
	&--link{
		@extend .nav-link;
		color: $primary-color!important;
		padding-left: 0!important;
		padding-right: 0!important;
	}
	&--link:hover{
		color: black!important;
	}
}