.paragraph{
	&--heading{
		font-size: 1.75rem;
	    line-height: 1.2;
	    font-weight: 500;
	    margin-bottom: .5rem;
	}
	&--text{
    	font-weight: 400;
    	line-height: 1.5;
    	margin-bottom: 1.25rem;
	}
	&--image{
		max-width: 100%;
		height: auto;
		box-shadow: 0 5px 11px 5px rgba(0,0,0,0.75);
		border-radius: 5px;
	}
	&--button{
		@extend .btn;
		@extend .btn-dark;
		@extend .btn-lg;
		width: 100%;
		margin-bottom: 1.25rem;
	}
}
