.tree{
	.blue-badge{
		margin-right: 2px;
	}

	ul {
	  	list-style-type: none;
	} 
	&--ul {
	  	margin: 0;
	  	padding: 0;
	}
	&--li {
		margin: 4px 0;
	}
	&--caret--name {
	  cursor: pointer; 
	  user-select: none; /* Prevent text selection */
	  display: inline-block;
	  max-width: calc(100% - 60px);
	  &--active{
	  	color: black;
	  }
	}
	&--caret--arrow {
		font-weight: bold;
	}
	&--nested {
	  display: none;
	}
}