{% macro isHidden(console, target) %}
	{% if console==target or (not console and target=="console-main") %}
		{# nada #}
	{% else %}
		console--is-hidden
	{% endif %}
{% endmacro %}

{% macro isActive(console, target) %}
	{% if console==target or (not console and target=="console-main") %}
		console--is-active
	{% else %}
		{# nada #}
	{% endif %}
{% endmacro %}

{% macro paginatorConsole(urlprefix, page) %}
	<div class="console">
        {# <a class="console--button" href="?changes-page={{ page.number-5 }}"><<</a> #}
        <a class="console--button" href="?{{ urlprefix }}-page={{ page.number-1 }}"><</a>
        <button class="console--button is-active">{{ page.number }} of {{ page.paginator.num_pages }}</button>
        <a class="console--button" href="?{{ urlprefix }}-page={{ page.number+1 }}">></a>
        {# <a class="console--button" href="?changes-page={{ changes.number+5 }}">>></a> #}
    </div>
{% endmacro %}