<!-- Input -->
{% macro textInput(label, name, maxlength=200, value="") %}
	<div class="form-child">
		<label class="form-child--label" class="form-child--label">{{ label }}</label>
		<input type="text" class="form-child--input input{{ name }}" name="{{ name }}" value="{{ value }}" maxlength="{{ maxlength }}"  required>
	</div>
{% endmacro %}

{% macro dateInput(name) %}
	<div class="form-child">
		<label class="form-child--label">Date</label>
		<input type="datetime-local" class="form-child--input input{{ name }} dateInput" name="{{ name }}" required>
		<script type="text/javascript">
			jQuery(function(){
				$(".dateInput").val(new Date().toJSON().slice(0,16));
			});
		</script>
	</div>
{% endmacro %}

{% macro numberInput(label, name, step=0.0000000001, min=-9999999999.9999999999, max=9999999999.9999999999) %}
	<div class="form-child">
		<label class="form-child--label">{{ label }}</label>
		<input type="number" class="form-child--input input{{ name }}" name="{{ name }}" step="{{ step }}"" min="{{ min }}"" max="{{ max }}" required>
	</div>
{% endmacro %}

{% macro passwordInput(label, name) %}
	<div class="form-child">
		<label class="form-child--label">{{ label }}</label>
		<input type="password" class="form-child--input input{{ name }}" name="{{ name }}" required>
	</div>
{% endmacro %}


<!-- Select -->
{% macro select(label, name, items, selected=None) %}
	<div class="form-child">
		<label class="form-child--label">{{ label }}</label>
		<select class="form-child--select select{{ name }}" name="{{ name }}" required>
			{% for item in items %}
				<option value="{{ item }}" {% if (item | lower)==(selected | lower) %}selected{% endif %}>{{ item }}</option>
			{% endfor %}
		</select>
	</div>
{% endmacro %}

{% macro pkNameSelect(label, name, items, selected=None) %}
	<div class="form-child">
		<label class="form-child--label">{{ label }}</label>
		<select class="form-child--select select{{ name }}" name="{{ name }}" required>
			{% for item in items %}
				<option value="{{ item.pk }}" {% if item.pk==selected %}selected{% endif %}>{{ item.name }}</option>
			{% endfor %}
		</select>
	</div>
{% endmacro %}

{% macro tupleSelect(label, name, items, selected=None) %}
	<div class="form-child">
		<label class="form-child--label">{{ label }}</label>
		<select class="form-child--select select{{ name }}" name="{{ name }}" required>
			{% for item in items %}
				<option value="{{ item[0] }}" {% if item[0]==selected %}selected{% endif %}>{{ item[1] }}</option>
			{% endfor %}
		</select>
	</div>
{% endmacro %}

{% macro pkGetNameSelect(label, name, items, selected=None) %}
	<div class="form-child">
		<label class="form-child--label">{{ label }}</label>
		<select class="form-child--select select{{ name }}" name="{{ name }}" required>
			{% for item in items %}
				<option value="{{ item.pk }}" {% if item.pk==selected %}selected{% endif %}>{{ item.get_name() }}</option>
			{% endfor %}
		</select>
	</div>
{% endmacro %}


<!-- TextArea -->
{% macro textarea(label, name) %}
	<div class="form-child"> 
		<label class="form-child--label">{{ label }}</label>
		<textarea class="form-child--textarea textarea{{ name }}" name="{{ name }}" rows="3" required></textarea>
	</div>
{% endmacro %}


<!-- Input + Select -->
{% macro numberInputPkSymbolSelect(label, inputName, selectName, items) %}
	<div class="form-child">
		<label class="form-child--label">{{ label }}</label>
		<div class="form-child--group">
			<input type="number" class="form-child--input input{{ inputName }}" name="{{ inputName }}" step="0.0000000001" min="-9999999999.9999999999" max="9999999999.9999999999" required>
			<select class="form-child--select select{{ selectName }}" name="{{ selectName }}" required>
				{% for item in items %}
					<option value="{{ item.pk }}">{{ item.symbol }}</option>
				{% endfor %} 
			</select>
		</div>
	</div>
{% endmacro %}