{% macro bigLmHeading(category="Dashboard", heading="heading") %}
<div class="big-lm-heading">
	<p class="big-lm-heading--top">{{ category }}</p>
	<h1 class="big-lm-heading--heading">{{ heading }}</h1>
	<hr class="big-lm-heading--hr">
</div>
{% endmacro %}

{% macro smallLmHeading(heading, buttons=[], right=None) %}
<div class="small-lm-heading">
	<div class="small-lm-heading--row">
	    <h2 class="small-lm-heading--heading">{{ heading }}</h2>
	    {% for button in buttons %}
	    	{% if loop.index != 0 %}
				<div class="small-lm-heading--spacer"></div>
	    	{% endif %}
			{{ button|safe }}
	    {% endfor %}
	    {% if right %}
	    	<span class="small-lm-heading--right">{{ right }}</span>
	    {% endif %}
    </div>
    <hr class="small-lm-heading--hr">
</div>
{% endmacro %}
