{% macro to_do(to_do, url_prefix, csrf_token) %}
<li class="to-do-item" id="to-do-item-{{ to_do.pk }}">
	<div class="to-do-item--wrapper">
		{% if not to_do.is_done and not to_do.has_failed %}
			<input class="to-do-item--checkbox" id="check-to-do-{{ to_do.pk }}" type="checkbox">
		{% endif %}
		<label class="to-do-item--body">
			<span class="to-do-item--label">{{ to_do.name }}</span>
				{% with time=to_do.get_to_deadline_time() %}
					<span class="to-do-item--badge-label--{{ time[0] }}">{{ time[1] }}</span>
				{% endwith %}
				<a class="adminator-href-button" href="{{ url('goals:'+url_prefix+'to_do', args=[to_do.pk]) }}">Open</a>
		</label>
	</div>
	<div class="to-do-item--script">
		<script type="text/javascript">
			jQuery(function(){
				$("#check-to-do-{{ to_do.pk }}").on("click", function(event){
					$.ajax({
						url : "{{ url('goals:'+url_prefix+'to_do_done', args=[to_do.pk]) }}",
						type : "POST",
						data : "csrfmiddlewaretoken={{ csrf_token }}&is_done=True",
						success : function(data) {
							if (data.valid) {
								$("#to-do-item-{{ to_do.pk }}").fadeOut("slow");
							} else {
								$("#to-do-item-{{ to_do.pk }}").html(data.html);
							}
						},
						error : function(data) {
							$("#to-do-item-{{ to_do.pk }}").html("Ajax Error");
						}
					});
				});
			});
		</script>
	</div>
</li>
{% endmacro %}


{% macro goal(goal, csrf_token) %}
<div class="progress-item">
	<div class="progress-item--top">
		<h5 class="progress-item--title">{{ goal.name }}</h5>
		<a class="adminator-href-button" href="{{ url('goals:goal', args=[goal.pk]) }}">Open</a>
	</div>
	<small class="progress-item--subtitle">Mastergoals: </small><small>{{ goal.get_mastergoals() }}</small><br>
	<small class="progress-item--subtitle">Subgoals: </small><small>{{ goal.get_subgoals() }}</small><br>
	<small class="progress-item--subtitle">Strategies: </small><small>{{ goal.get_strategies() }}</small>
	<span class="progress-item--progress-number">{{ goal.get_deadline('d') }} - {{ goal.progress }}%</span>
	<div class="progress-item--progress">
		<div class="progress-item--progress-bar" style="width:{{ goal.progress }}%;"></div>
	</div>
</div>
{% endmacro %}


{% macro strategy(strategy, csrf_token) %}
<div class="progress-item">
	<div class="progress-item--top">
		<h5 class="progress-item--title">{{ strategy.name }}</h5>
		<a class="adminator-href-button" href="{{ url('goals:strategy', args=[strategy.pk]) }}">Open</a>
	</div>
	<small class="progress-item--subtitle">Goal: </small><small>{{ strategy.get_goal() }}</small>
	<span class="progress-item--progress-number">{{ strategy.progress }}%</span>
	<div class="progress-item--progress">
		<div class="progress-item--progress-bar" style="width:{{ strategy.progress }}%;"></div>
	</div>
</div>
{% endmacro %}


{% macro link(link) %}
<tr>
	<td class="fw-600">{{ link.get_name() }}</td>
	<td>{{ link.weight }}</td>
	<td>{{ link.proportion }}</td>
	<td><a class="adminator-href-button" href="{{ url('goals:link', args=[link.pk]) }}">Open</a></td>
</tr>
{% endmacro %}



{% macro progress_monitor(progress_monitor, csrf_token) %}
<div class="progress-item">
	<div class="progress-item--top">
		<h5 class="progress-item--title">{{ progress_monitor.monitor }}</h5>
		<button class="adminator-update-button" id="progress-monitor-{{ progress_monitor.pk }}-up">Up</button>
		<div class="hs-1"></div>
		<button class="adminator-update-button" id="progress-monitor-{{ progress_monitor.pk }}-down">Down</button>
		<div class="hs-1"></div>
		<a class="adminator-href-button" href="{{ url('goals:progress_monitor', args=[progress_monitor.pk]) }}">Open</a>
	</div>
	<small class="progress-item--subtitle">Goal: </small><small>{{ progress_monitor.goal }}</small>
	<span class="progress-item--progress-number">{{ progress_monitor.step }}/{{ progress_monitor.steps }}</span>
	<div class="progress-item--progress">
		<div class="progress-item--progress-bar" style="width:{{ progress_monitor.progress }}%;"></div>
	</div>
	<div class="progress-item--script">
		<script type="text/javascript">
			jQuery(function(){
				$("#progress-monitor-{{ progress_monitor.pk }}-up").on("click", function(event){
					$.ajax({
						url : "{{ url('goals:progress_monitor_step', args=[progress_monitor.pk]) }}",
						type : "POST",
						data : "csrfmiddlewaretoken={{ csrf_token }}&step={{ progress_monitor.step + 1 }}",
						success : function(data) {
							window.location.reload()
						},
						error : function(data) {
							$("#progress-monitor-up").html("Ajax Error");
						}
					})
				})
				$("#progress-monitor-{{ progress_monitor.pk }}-down").on("click", function(event){
					$.ajax({
						url : "{{ url('goals:progress_monitor_step', args=[progress_monitor.pk]) }}",
						type : "POST",
						data : "csrfmiddlewaretoken={{ csrf_token }}&step={{ progress_monitor.step - 1 }}",
						success : function(data) {
							window.location.reload()
						},
						error : function(data) {
							$("#progress-monitor-down").html("Ajax Error");
						}
					})
				})
			});
		</script>
	</div>
</div>
{% endmacro %}
