{% macro table(
	headings=["heading1", "heading2", "heading3", "heading4"], 
	contents=[
		["content1", "content2", "content3", "content4"],
		["content1", "content2", "content3", "content4"],
		["content1", "content2", "content3", "content4"],
		["content1", "content2", "content3", "content4"]
	]) 
%}

	<table class="table">
		{{ head(headings) }}
		<tbody class="table--body">
			{% for content in contents %}
				{{ row(content) }}
			{% endfor %}
		</tbody>
	</table>

{% endmacro %}


{% macro head(headings) %}
	<thead class="table--head">
		<tr>
			{% for heading in headings %}
				<th class="table--head--data">{{ heading }}</th>
			{% endfor %}                           
		</tr>
	</thead>
{% endmacro %}


{% macro row(content) %}
	<tr>
		{% for data in content %}
			<td class="table--body--data">{{ data }}</td>
		{% endfor %}
	</tr> 
{% endmacro %}