{% macro djangoModal(title, id, form_url) %}
	<div class="modal" id="{{ id }}">
		<div class="modal--wrapper" role="document">
			<div class="modal--content">   
				<div class="modal--header">
					<h4 class="modal--title">{{ title }}</h4>
					<button type="button" class="modal--close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div> 
				<form action="{{ form_url|safe }}" method="post" class="django-form">
					<div class="modal--body">
					</div>
					<div class="modal--footer">
						<input type="submit" value="Submit" class="django-form--submit-button">
						<button type="button" class="django-form--cancel-button" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
		<div class="modal--script">
			<script>
				// fill the modal with data
				jQuery(function(){
					$("#{{ id }}").on('show.bs.modal', function (event) {
					    $.ajax({
					        url: "{{ form_url|safe }}"
					    }).done(function(response) {
					        $("#{{ id }} .modal--body").html(response);
					    });
					})
				});
				// do an ajax post instead of normal post
				$("#{{ id }}").on("submit", function(event){
				    event.preventDefault();
				    $.ajax({
				        url : "{{ form_url|safe }}",
				        type : "POST",
				        data : $("#{{ id }} .django-form").serialize(),
				        success : function(data) {
				        	if (data.valid) {
				        		window.location.reload()
				        	} else {
				        		$("#{{ id }} .modal--body").html(data.html);
				        	}
				        },
				        error : function(data) {
				        	$("#{{ id }} .modal--body").html("Error");
				        }
				    });
				});
			</script>
		</div>
	</div>
{% endmacro %}
