{% if goals %}
<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Goals</h6>
		<div class="adminator-box--content">
			{% for goal in goals %}
			{{ ig.goal(goal, csrf_token) }} 
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}