{% if master_goals %}
<div class="masonry--item">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Master Goals</h6>
		<div class="adminator-box--content">
			{% for goal in master_goals %}
			{{ ig.goal(goal, csrf_token) }} 
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}