{% if notes %}
	{% for note in notes %}
	<div class="masonry--item masonry--item-4">
		<div class="adminator-box">
			<div class="adminator-box--heading">
				<a class="adminator-box--toggle" id="note-{{ note.pk }}-toggle" href="#note-{{ note.pk }}-target" data-toggle="collapse">{{ note }}</a>
				<a class="adminator-href-button" href="{{ url('notes:note', args=[note.pk]) }}">Open</a>
			</div>
			<div class="adminator-box--content collapse" id="note-{{ note.pk }}-target">
				{{ note.content|safe() }}
			</div>
		</div>
	</div>
	{% endfor %}
{% endif %}