<!DOCTYPE html>
<html lang="de">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'logo.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'apple-logo.png' %}" />
        <title>
            {% block title %}Goals{% endblock %}
        </title>
        {% block head %}
            <link rel="stylesheet" href="{% static 'main.css' %}">
        {% endblock head %}
    </head>
    {% block body %}
        <body class="min-h-screen bg-gray-100 md:py-8">
            {% block main %}
                <main class="container {% block max_width %}max-w-2xl{% endblock %} mx-auto bg-white rounded-b-sm md:rounded-b shadow">
                    {% block nav %}{% endblock %}
                    {% block prose %}
                        <div class="p-5 prose-sm prose max-w-none">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    {% endblock %}
                    {% block prose_second %}{% endblock %}
                </main>
            {% endblock main %}
        </body>
    {% endblock body %}
</html>
