{% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
{% with errors=form.non_field_errors %}
    {% if errors %}
        <p class="!text-red-700">
            {% for error in errors %}{{ error }}{% endfor %}
        </p>
    {% endif %}
{% endwith %}
{% for field in form.visible_fields %}
    <p>
        <label for="id_{{ field.name }}"
               class="{% if field.field.required %}required{% endif %}">
            <span>
                {% if not field.field.required %}
                    {{ field.label }} (optional):
                {% else %}
                    {{ field.label }}:
                {% endif %}
            </span>
        </label>
        {{ field }}
        <div class="text-red-700">{{ field.errors }}</div>
        <div class="text-gray-600 form-helptext">{{ field.help_text }}</div>
    </p>
{% endfor %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
