{% extends 'base.html' %}
{% block prose %}
    {% include 'nav.html' %}
    {% for n in navs %}
        {% include n %}
    {% endfor %}
    <div class="p-5">
        <form method="post"
              class="django-form"
              novalidate
              action="{{ request.get_full_path }}">
            {% include 'form_snippet.html' %}
            {% csrf_token %}
            <p class="">{{ form.text }}</p>
            <button type="submit">{{ form.submit|default:'Submit' }}</button>
        </form>
    </div>
    {{ form.media }}
{% endblock %}
