<nav id="todos-nav"
     class="{% include 'nav.txt' %} rounded-none md:rounded-t bg-slate-700">
    <ul class="flex space-x-4">
        <li class="{% if 'todo' in request.get_full_path %}underline{% endif %}">
            <a href="{% url 'todos' %}">Todos</a>
        </li>
        <li class="{% if 'achievements' in request.get_full_path %}underline{% endif %}">
            <a href="{% url 'achievements' %}">Achievements</a>
        </li>
        <li class="{% if 'notes' in request.get_full_path %}underline{% endif %}">
            <a href="{% url 'notes' %}">Notes</a>
        </li>
    </ul>
</nav>
