<nav id="todos-nav"
     class="{% include 'nav.txt' %} rounded-none md:rounded-t bg-slate-700">
    <ul class="flex space-x-4">
        <li class="{% if 'todo' in request.get_full_path %}underline{% endif %}">
            <a href="{% url 'todos' %}">Todos</a>
        </li>
        <li class="{% if 'achievements' in request.get_full_path %}underline{% endif %}">
            <a href="{% url 'achievements' %}">Achievements</a>
        </li>
        <li class="{% if 'notes' in request.get_full_path %}underline{% endif %}">
            <a href="{% url 'notes' %}">Notes</a>
        </li>
        <li class="{% if 'story' in request.get_full_path %}underline{% endif %}">
            <a href="{% url 'story' %}">Story</a>
        </li>
        <li class="!ml-auto {% if 'users' in request.get_full_path %}underline{% endif %}">
            <a href="{% url 'form' 'ChangeEmail' %}">Settings</a>
        </li>
        <li>
            <form action="{% url 'admin:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>
