{% extends "layout/lhmf.j2" %}


{% set title=note|string + " | Note | Notes" %}


{% block special %}
	
{% endblock %}


{% block main %}


{% import "modules/button.j2" as bg %}
{% import "modules/form.j2" as fg %}
{% import "modules/item.j2" as ig %}
{% import "modules/card.j2" as cg %}


<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<h5 class="adminator-box--heading">{{ note }}</h5>
		<div class="adminator-box--content">
			{{ note.content|safe() }}
		</div>
	</div>
</div>


<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<div class="adminator-box--heading">
			<a class="adminator-box--toggle" id="edit-note-toggle" href="#edit-note-target" data-toggle="collapse">Edit</a>
		</div>
		<div class="adminator-box--content collapse" id="edit-note-target">
			{{ fg.onClickAjaxForm("edit-note", url("notes:note_edit", args=[note.pk])) }}
		</div>
	</div>
</div>


<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<div class="adminator-box--heading">
			<a class="adminator-box--toggle" id="delete-note-toggle" href="#delete-note-target" data-toggle="collapse">Delete</a>
		</div>
		<div class="adminator-box--content collapse" id="delete-note-target">
			{{ fg.onClickForm("delete-note", url("notes:note_delete", args=[note.pk])) }}
		</div>
	</div>
</div>


{% endblock main %}