<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<div class="adminator-box--heading">
			<a class="adminator-box--toggle" id="add-goal-toggle" href="#add-goal-target" data-toggle="collapse">Add Goal</a>
		</div>
		<div class="adminator-box--content collapse" id="add-goal-target">
			{{ fg.onClickAjaxForm("add-goal", url("goals:goal_add")) }}
		</div>
	</div>
</div>