{% import "modules/form.j2" as fg %}

{# tinymce #}
{% if form.media %}
	{{ form.media }} 
{% endif %}
{# end tinymce #}

{# form #}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% for hidden_field in form.hidden_fields() %}
	{{ hidden_field }}
{% endfor %}

{% with errors=form.non_field_errors() %}
	{% if errors %}
		<p>
			{% for error in errors %}
				<span class="form-child--errors">
					{{ error }}
				</span>
			{% endfor %}
		</p>
	{% endif %}
{% endwith %}

{% for field in form.visible_fields() %}
	<p>
		{{ field.label_tag() }}
		{{ field }}
		<span class="form-child--errors">
			{{ field.errors|striptags|replace(".", ". ")|replace(".  ", ". ") }}
		</span>
		<span class="form-child--helptext">
			{{ field.help_text|striptags|replace(".", ". ")|replace(".  ", ". ") }}
		</span>
	</p>
{% endfor %}
{# end form #}