{% if progress_monitors %}
<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Progress Monitors</h6>
		<div class="adminator-box--content">
			{% for progress_monitor in progress_monitors %}
				{{ ig.progress_monitor(progress_monitor, csrf_token) }}		
				{% if not loop.last %}
					<div class="vs-1"></div>
				{% endif %}				
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}