@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*
Vue Formulate Change the default look of general errors
*/
.formulate-form-errors {
    @apply .mb-3;
}
.formulate-form-error {
    @apply .text-red-700;
    @apply .text-sm;
}

/*
Animations for Vue's transition-group
*/
.todo-item {
    transition: all 0.5s;
}

.todo-enter-active {
    transition-delay: 0.5s;
}

.todo-leave-active {
    position: absolute;
}

.todo-enter, .todo-leave-to {
    opacity: 0;
}

/*
Animations for the status infos in add-to-box
*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
