{% extends 'layout/main.html' %}

{% block title %}Dashboard | Todos{% endblock %}

{% block main %}

<h-one text="Add todos"></h-one>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <add-todo-box heading="Add normal todo" url="/t/api/normal-todos/createform/"
                  submiturl="/t/api/normal-todos/"></add-todo-box>
    <add-todo-box heading="Add repetitive todo" url="/t/api/repetitive-todos/createform/"
                  submiturl="/t/api/repetitive-todos/"></add-todo-box>
    <add-todo-box heading="Add never ending todo" url="/t/api/never-ending-todos/createform/"
                  submiturl="/t/api/never-ending-todos/"></add-todo-box>
    <add-todo-box heading="Add pipeline todo" url="/t/api/pipeline-todos/createform/"
                  submiturl="/t/api/pipeline-todos/"></add-todo-box>
</div>

{% endblock main %}

{% block vue %}
{{ block.super }}
<script type="module">
    let app = new Vue({
        el: "#vue-main",
        mixins: [navigationMixin],
        components: {
            'add-todo-box': httpVueLoader('/static/vue/add-todo-box.vue'),
            'h-one': httpVueLoader('/static/vue/h-one.vue'),
        },
    });
</script>
{% endblock vue %}
