{% extends 'layout/main.html' %}

{% block title %}Dashboard | Todos{% endblock %}

{% block main %}

<h-one text="All todos"></h-one>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <todo-box url="/t/api/normal-todos/" heading="Normal todos"></todo-box>
    <todo-box url="/t/api/repetitive-todos/" heading="Repetitive todos"></todo-box>
    <todo-box url="/t/api/never-ending-todos/" heading="Never ending todos"></todo-box>
    <todo-box url="/t/api/pipeline-todos/" heading="Pipeline todos"></todo-box>
</div>
{% endblock main %}

{% block vue %}
{{ block.super }}
<script type="module">
    let app = new Vue({
        el: "#vue-main",
        mixins: [navigationMixin],
        components: {
            'general-box': httpVueLoader('/static/vue/general-box.vue'),
            'h-one': httpVueLoader('/static/vue/h-one.vue'),
            'to-do': httpVueLoader('/static/vue/to-do.vue'),
            'todo-box': httpVueLoader('/static/vue/todo-box.vue')
        },
    });
</script>
{% endblock vue %}
