{% extends "layout/base.j2" %}


{% set html="lhmf" %}
{% set z_index=1 %}


{% block body %}
    <body class="lhmf">
        {# <div class='loader' id="loader">
            <div class="loader--spinner"></div>
        </div> 
        <script>
            window.addEventListener('load', () => {
                const loader = document.getElementById('loader');
                setTimeout(() => {
                loader.classList.add('fadeOut');
              }, 300);
            });
        </script> #}
        <aside class="lhmf--left">
            {% include 'snippets/left.j2' %}
        </aside>
        <div class="lhmf--page-container">
            <header class="lhmf--header">
                {% include 'snippets/header.j2' %}
            </header>
            <main class="lhmf--main">
                <div class="masonry">
                    <div class="masonry--sizer"></div>
                    <div class="masonry--gutter"></div>
                    {% block main %}{% endblock %}
                </div>
            </main>
            {#
            <footer class="lhmf--footer">
                {% include 'snippets/footer.j2' %}
            </footer>
            #}
        </div>
    </body>
{% endblock %}