{% extends "layout/lhmf.j2" %}


{% set title=object.monitor + " | Progress Monitor | Goals" %}


{% block main %}


{% import "modules/button.j2" as bg %}
{% import "modules/form.j2" as fg %}
{% import "modules/item.j2" as ig %}
{% import "modules/card.j2" as cg %}


<div class="masonry--item masonry--item-4">
	<div class="row m-0">
		<div class='col-md-6 p-0'>
			<div class="adminator-box">
				<div class="adminator-box--top">
					<h6 class="adminator-box--heading">{{ object.monitor }}</h6>
					<button class="adminator-update-button" id="progress-monitor-{{ object.pk }}-up">Up</button>
					<button class="adminator-update-button" id="progress-monitor-{{ object.pk }}-down">Down</button>
				</div>							
				<div class="adminator-box--content">
	                <div class="small-progress">
		                <span class="small-progress--number">{{ object.step }}/{{ object.steps }}</span>
						<div class="small-progress--bar-wrapper">
							<div class="small-progress--bar" style="width: {{ object.progress }}%"></div>
						</div>
					</div>
				</div>
				<div class="adminator-box--script">
					<script type="text/javascript">
						jQuery(function(){
							$("#progress-monitor-{{ object.pk }}-up").on("click", function(event){
								$.ajax({
									url : "{{ url('goals:progress_monitor_step', args=[object.pk]) }}",
									type : "POST",
									data : "csrfmiddlewaretoken={{ csrf_token }}&step={{ object.step + 1 }}",
									success : function(data) {
										window.location.reload()
									},
									error : function(data) {
										$("#progress-monitor-up").html("Ajax Error");
									}
								})
							})
							$("#progress-monitor-{{ object.pk }}-down").on("click", function(event){
								$.ajax({
									url : "{{ url('goals:progress_monitor_step', args=[object.pk]) }}",
									type : "POST",
									data : "csrfmiddlewaretoken={{ csrf_token }}&step={{ object.step - 1 }}",
									success : function(data) {
										window.location.reload()
									},
									error : function(data) {
										$("#progress-monitor-down").html("Ajax Error");
									}
								})
							})
						});
					</script>
				</div>		
			</div>
		</div>
		<div class='col-md-6 p-0'>
			<div class="adminator-box">
				<h6 class="adminator-box--heading">Properties</h6>
				<div class="adminator-box--content">
					<p class="adminator-box--p">
						Weight: {{ object.weight }}
						<br>Archived: {{ object.is_archived }}
					</p>
				</div>
			</div>
		</div>
		{% if object.get_notes() %}
			<div class='col-md-12 p-0'>
				<div class="adminator-box">
					<h6 class="adminator-box--heading">Notes</h6>
					<div class="adminator-box--content">
						<p class="adminator-box--p">{{ object.get_notes()|replace('\n', '<br>')|safe }}</p>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>


<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<h6 class="adminator-box--heading">Goal</h6>
		<div class="adminator-box--content">
			{{ ig.goal(object.goal, csrf_token) }}
		</div>
	</div>
</div>


<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<div class="adminator-box--heading">
			<a class="adminator-box--toggle" id="edit-progress-monitor-toggle" href="#edit-progress-monitor-target" data-toggle="collapse">Edit</a>
		</div>
		<div class="adminator-box--content collapse" id="edit-progress-monitor-target">
			{{ fg.onClickAjaxForm("edit-progress-monitor", url("goals:progress_monitor_edit", args=[object.pk])) }}
		</div>
	</div>
</div>


<div class="masonry--item masonry--item-4">
	<div class="adminator-box">
		<div class="adminator-box--heading">
			<a class="adminator-box--toggle" id="delete-progress-monitor-toggle" href="#delete-progress-monitor-target" data-toggle="collapse">Delete</a>
		</div>
		<div class="adminator-box--content collapse" id="delete-progress-monitor-target">
			{{ fg.onClickForm("delete-progress-monitor", url("goals:progress_monitor_delete", args=[object.pk])) }}
		</div>
	</div>
</div>


{% endblock main %}