<nav class="{% include 'subnav.txt' %} bg-slate-600">
    <ul class="flex space-x-4">
        <li>
            <a 
            class="{% if request.resolver_match.url_name == 'achievements' %}underline{% endif %}"
            href="{% url 'achievements' %}">All</a>
        </li>
        <li>
            <a
            class="{% if 'Create' in request.get_full_path %}underline{% endif %}"
            href="{% url 'form' 'CreateAchievement' %}?success={% url 'achievements' %}">Create</a>
        </li>
    </ul>
</nav>
